/* font import */
@font-face {font-family: robotoFont; src: url("./font/Roboto-Black.woff");}
@font-face {font-family: robotoFont; src: url("./font/Roboto-BlackItalic.woff");}
@font-face {font-family: robotoFont; src: url("./font/Roboto-Bold.woff");}
@font-face {font-family: robotoFont; src: url("./font/Roboto-BoldItalic.woff");}
@font-face {font-family: robotoFont; src: url("./font/Roboto-Italic.woff");}
@font-face {font-family: robotoFont; src: url("./font/Roboto-Light.woff");}
@font-face {font-family: robotoFont; src: url("./font/Roboto-LightItalic.woff");}
@font-face {font-family: robotoFont; src: url("./font/Roboto-Black.woff");}

/* 초기화 코드 */
* {margin: 0; padding: 0;}
li{list-style: none;}
a {text-decoration: none;}
img {border: 0}

/* header */
#main_header{
    height: 45px; background-color: darkred; /*배경지정*/
    position: relative; text-align: center; line-height: 45px; /*자손 위치 선정*/
}
#main_header > h1{color:white}
#main_header > a, #main_header > label{display: block; height: 32px; position: absolute;}
#main_header > a.left{width: 62px; left: 5px; top: 7px;}
#main_header > label.right{width: 32px; right: 5px; top: 7px;}