/* font import */
@font-face {font-family: robotoFont; src: url("./font/Roboto-Black.woff");}
@font-face {font-family: robotoFont; src: url("./font/Roboto-BlackItalic.woff");}
@font-face {font-family: robotoFont; src: url("./font/Roboto-Bold.woff");}
@font-face {font-family: robotoFont; src: url("./font/Roboto-BoldItalic.woff");}
@font-face {font-family: robotoFont; src: url("./font/Roboto-Italic.woff");}
@font-face {font-family: robotoFont; src: url("./font/Roboto-Light.woff");}
@font-face {font-family: robotoFont; src: url("./font/Roboto-LightItalic.woff");}
@font-face {font-family: robotoFont; src: url("./font/Roboto-Black.woff");}

/* 초기화 코드 */
* {margin: 0; padding: 0;}
body {font-family: ''; min-width: 760px}
li {list-style: none;}
a {text-decoration: none;}

/* main_header */
#main_header {
    height: 60px;
    line-height: 60px;
    padding-left: 10px;
    border-bottom: 1px solid black;
    background-color: #1D4088;
    color: white;
}

/* navigation */
#main_gnb{ overflow: hidden; border-bottom: 1px solid black; background-color: #32394A;}
#main_gnb>ul.left{ overflow: hidden; float: left;}
#main_gnb>ul.right{overflow: hidden; float: right}
#main_gnb>ul.left>li{float: left;}
#main_gnb>ul.right>li{float: left;} 
#main_gnb a{
    display: block;
    padding: 10px 20px;
    border-left: 1px solid #5F6673;
    border-right: 1px solid #242A37;
    color: black;
    font-weight: bold;
}


#wrap{ overflow: hidden; background-color: #71B1D1;}

#wrap > #main_lnb{ float: left; width: 200px;}
#main_lnb > ul > li > a {
    display: block; height: 40px; line-height: 40px; padding-left: 15px;
    border-top: 1px solid #96D6F6; border-bottom: 1px solid #6298B2;
    color: white; font-weight: bold;
}

/* content */
#content { background-color: white; border-left: 1px solid black;}
#wrap > #content_wrap{ float: left; width: 100%; *width: 99.9%; margin-right: -200px;}
#wrap > #content_wrap > #content{ padding-right : 200px;}

/* footer */
#main_footer{ padding: 10px; border-top : 3px solid black; text-align: center;}